<div class="container text-center">
	<div class="mb-5 mt-5">
		<h1>Pages#graph</h1>
		<p>Find me in app/views/pages/graph.html.erb</p>

		<span id="graphPlace"></span>
		<span id="tablePlace"></span>
	</div>
</div>
<%= javascript_pack_tag 'graph_table' %>