<div class="container text-center">
	<div class="mb-5 mt-5">
		<% unless defined?(initial_date) 
			initial_date = Datapoint.first.created_at
		end %>
		<% unless defined?(last_date) 
			last_date = Datapoint.last.created_at
		end %>
		<h3>Results from:</h3>
		<p><%= initial_date %> to <%= last_date %></p>
		

		<%= react_component("MyGraph", {generated_data: retrieve_data_for_graph(initial_date, last_date)}) %>
		<%= react_component("MyTable", {generated_data: retrieve_data_for_table(initial_date, last_date)}) %>
	</div>
</div>