<div class="container text-center">
	<div class="mb-5 mt-5">
		<h3>Data displayed from:</h3>
		<p>Initial date to Final date</p>
		<%= react_component("MyGraph") %>
		<%= react_component("MyTable") %>
	</div>
</div>