<div class="jumbotron jumbotron-fluid text-center">
	<div class="container">
	  <h1 class="display-4">Welcome to the Word_Count_App</h1>
	  <p class="lead">This amazing app allows you to visualize your data in a smooth and neat way</p>
	  <hr class="my-4">
	  <p>But don't take my word for it, check it out for yourself:</p>
	  <p class="lead">
	    <a class="btn btn-primary btn-lg" href="<%= graph_path %>" role="button">Show me the Graph <i class="fas fa-thumbs-up"></i></span></a>
	  </p>
	</div>
</div>

	<h1>Pages#index</h1>
	<p>Find me in app/views/pages/index.html.erb</p>
		<p>Find me in app/views/pages/index.html.erb</p>
			<p>Find me in app/views/pages/index.html.erb</p>
				<p>Find me in app/views/pages/index.html.erb</p>
					<p>Find me in app/views/pages/index.html.erb</p>
</div>

