<% index %>
<div class="jumbotron jumbotron-fluid text-center">
	<div class="container">
	  <h1 class="display-4">Welcome to the Word_Count_App</h1>
	  <p class="lead">This amazing app allows you to visualize your data in a smooth and neat way</p>
	  <hr class="my-4">
	  <p>But don't take my word for it, check it out for yourself:</p>
	  <p class="lead">
	    <a class="btn btn-primary btn-lg" href="<%= graph_path %>" role="button">Show me the Graph <i class="fas fa-thumbs-up"></i></span></a>
	  </p>
	</div>
</div>

<div class="container text-center">
	<h1>The epic story of how Word_Count_App came to be:</h1>
	<p class="text-justify">
		For generations, the human race have struggled to visualize data in an organized way. During those dark ages, data roamed the world freely in a hectic way that was impossible to read and control. Philosophers and researchers from all over the world tried to figure out the patterns of the behavior of this wild data in order to learn how to tame it and have it displayed in an organized and clean way that would be easy for anyone to comprehend it. However, the wild data know no master and obey no one.</br>Nevertheless, people never lost hope, and kept studying the properties of data to learn what are their ambitions and how they could help humans to progress.</br>One day, a mage named Gandalf cast a spell that removed all the entropy from all the data in the world, which made possible for people to use the data in their Ruby on Rails projects and React graphs. Furthermore, the Word_Count_App tool was developed to organize the data in a neat graph for everyone to see, and the people of the world have been very happy ever since.
	</p>
</div>

